@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<div class="content-wrapper">
    <div class="card" style="background-color: ghostwhite">       

        <h5 class="card-header" style="background-color: #566A7F;color:white">TUR ROTALARI</h5>
        <br />
        <div class="table-responsive text-nowrap" style="padding: 0.75rem 1.25rem;background-color: ghostwhite">

            <table id="tbl1" class="table table-bordered table-striped table-hover" style="text-align:center">
                <thead>
                    <tr style="background-color: rgba(105, 108, 255, 0.16)">
                        <th>#</th>
                        <th>ÜLKE</th>
                        <th>ŞEHİR</th>
                        <th>FİYAT</th>
                        <th>KAPASİTE</th>
                        <th>SİTEDE GÖR</th>
                        <th>DETAY</th>
                        <th>SİL</th>
                        <th>DURUM</th>                        
                        <th>AÇIK/KAPALI</th>
                        

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        @{sayac = sayac + 1;}
                        <td>@sayac</td>
                        <td>@item.Country</td>
                        <td>@item.City</td>
                        <td>@item.Price ₺</td>
                        <td>@item.Capacity</td>

                        <td>
                            <a class="btn btn-warning" href="/DetailDestination/DestinationDetails/@item.DestinationID" target="_blank">
                                Sitede Gör
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-info" href="/Admin/DestinationAdmin/UpdateDestination/@item.DestinationID">
                                Detay
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-dark" href="/Admin/DestinationAdmin/DeleteRota/@item.DestinationID">
                                Sil
                            </a>
                        </td>
                      

                        @if (@item.Status == true)
                        {
                            <td>
                                <a class="btn btn-success" href="#">
                                    Tur Açık
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/Admin/DestinationAdmin/DeleteDestination/@item.DestinationID">
                                    Kapalı Yap
                                </a>
                            </td>
                        }
                        @if (@item.Status == false)
                        {
                            <td>
                                <a class="btn btn-danger" href="#">
                                    Tur Kapalı
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="/Admin/DestinationAdmin/ActiveDestination/@item.DestinationID">
                                    Açık Yap
                                </a>
                            </td>

                        }
                      

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<br />

<a href="/Admin/DestinationAdmin/AddDestination" class="btn btn-primary" style="color: #fff; background-color: #696cff; border-color: #696cff;">Yeni Tur Rotası Ekle</a>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>



<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>

